* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.grid-2--cols {
  display: grid;
  grid-template-columns: 45fr 55fr;
}
.grid-4--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 255, 0.171);
}

body {
  background-color: #f5f5f5;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

header {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 3.2rem;
}

.header {
  display: flex;
  align-items: center;
  height: 5.7rem;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}

li {
  list-style: none;
}

.mode {
  display: flex;
  gap: 2rem;
}

h1 {
  font-size: 2.4rem;
}

/* OPTION SECTION */

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;

  &__search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
option {
  font-size: 2rem;
}

.search {
  height: 3rem;
  padding: 2rem 4.6rem;
  width: 30rem;
  font-size: 2rem;
  border-color: transparent;
  border-radius: 0 4px 4px 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  &::placeholder {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  &--btn {
    height: 4rem;
    padding: 2rem 4.6rem;
    border: none;
    display: flex;
    border-radius: 4px 0 0 4px;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  &__icon {
    color: #9b9595;
    width: 3rem;
  }
}

.select {
  height: 3rem;
  width: 20rem;
  border-color: transparent;
  font-size: 1.4rem;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.582);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

// Cards

.cards {
  gap: 4rem;
  position: relative;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.281);
  &__flag img {
    border-radius: 12px 12px 0 0;
    width: 100%;
  }
  &__description {
    height: fit-content;
    border-radius: 0 0 12px 12px;
    padding: 2.4rem 4.8rem;

    & h2 {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      font-size: 2rem;
    }
  }
}

// CARD.HTML

.btn--back {
  background-color: white;
  border: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
  display: block;
  width: fit-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.country {
  position: relative;

  &__preview {
    column-gap: 3rem;
    align-items: center;
  }

  & img {
    width: 100%;
    border-radius: 10px;
  }

  & h2 {
    font-size: 3.4rem;
    margin-bottom: 3.4rem;
    font-weight: 800;
  }
  &__informations {
    display: flex;
    justify-content: space-between;

    & .history,
    & .culture {
      & ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 2.4rem;
      }
    }
  }
}

.borders {
  margin-top: 3rem;
  font-size: 3rem;
  p {
    display: flex;
    flex-wrap: wrap;
  }
}

.border {
  background-color: white;
  margin-left: 2rem;
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

// Loader

.loader {
  position: absolute;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
